<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Error</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <h1>Index well hmms</h1>
        <p th:with="titleParsed=${'dynamic stuff'}" th:utext="${titleParsed}">static stuff</p>
        <p th:text="${'init parameter: ' + someParamName}">someParamName</p>
        <p th:text="${'paramater passed from a method: ' + test}">test</p>
        <p th:text="#{index.hello('Tomasz')}">i18-off</p>
        <p th:text="${#dates.createNow()}">i18-off</p>
        <a th:href="@{/static/info}">view</a>
        <ul>
            <li th:each="i, iterStat : ${#strings.listSplit(#ctx.applicationAttributes['org.apache.catalina.jsp_classpath'],';')}">
                <p th:text="${iterStat.index+1 + ') ' +i}">i18-off</p>
            </li>
        </ul>
    </body>
</html>
