<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Index</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/main.css" th:href="@{/css/main.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    </head>
    <body ng-app="tt">
        <h1>Index well hmms</h1>
        <p th:with="titleParsed=${'dynamic stuff'}" th:utext="${titleParsed}">static stuff</p>
        <p th:text="${'init parameter: ' + someParamName}">someParamName</p>
        <p th:text="${'paramater passed from a method: ' + test}">test</p>
        <p th:text="#{index.hello('Tomasz')}">i18-off</p>
        <p th:text="${#dates.createNow()}">i18-off</p>
        <a th:href="@{/static/info}">view</a>
        <div ng-controller="sum as sum">
            <p>{{sum.outcome}}</p>
        </div>
        <div ng-controller="memory as mem">
            <p>free memory MB: {{mem.heapMemory.max / 1048576 | number:2}} - {{mem.heapMemory.used / 1048576 | number:2}} = {{mem.freeMemoryMB | number:2}}</p>
        </div>
        <ul>
            <li th:each="i, iterStat : ${#strings.listSplit(#ctx.applicationAttributes['org.apache.catalina.jsp_classpath'],';')}">
                <p th:text="${iterStat.index+1 + ') ' +i}">i18-off</p>
            </li>
        </ul>
        <script th:inline="text">
                    var app = angular.module("tt", []);
                    app.controller("sum", function ($scope){
                    var vm = this;
                            vm.outcome = 2 + 3;
                    });
                    app.controller("memory", function ($scope, $http){
                    var vm = this, url = "http://[[${#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()} + '/jolokia/read/java.lang:type=Memory']]";
                            $http.get(url).then(function(response) {
                    vm.heapMemory = response.data.value.HeapMemoryUsage;
                    vm.freeMemoryMB = (vm.heapMemory.max - vm.heapMemory.used) / 1048576;
                    });
                    });
        </script>
    </body>
</html>
